body {
	margin: 0;
  font-family: "Caecilia-Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;  
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  width: 360px;
  font-size: 1.8rem;
  font-family: "Bitter";
  padding-top: 120px;
  color: #173676;
  line-height: 2.5rem;
  margin-left: -42px;
  font-weight: bold;
}

p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4rem;
  margin-right: 40px;
  letter-spacing: 0.1em;  
}

section {  
  position: relative;
  width: 100% !important;
  min-width: 1000px;
  margin: 0;
  padding: 0;  
  display: block;
  height:0;
}

#footer {
  width: 100%;
  bottom: 0;  
  z-index: 10000; 
  text-align: center;
  margin: auto;
  font-size: 12px;
  border-top: 1px solid #eee;
  padding: 8px 0px;    
}

#footer a {
  color: #524747;
  text-decoration: none;
}
